[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/toolbox"]
	path = external/toolbox
	url = git@localhost:campx/toolbox.git
